@import url('https://fonts.googleapis.com/css?family=Nunito|PT+Serif');


// STYLE GUIDE COLORS
$mint: #c0e8dd;
$pink: #f6d9ea;
$footer: #FCF2F7;
$grey: #F3F3F5;
$lavendar: #d2d5ea;
$rose: #d29fbb;
$primary-font: #191919;

// STYLE GUIDE FONTS
$header: 'Nunito', sans-serif;
$paragraph: 'PT Serif', serif;



// MAIN CSS

body {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}


// HEADER

.nav-wrapper {
    background-color: white !important;
    margin-top: 2em;
    }
    
.deina{
    font-family: $paragraph;
    font-size: 22px !important;
    color: black !important;
    text-decoration: none !important;
    }
    
nav ul li a{
    font-family: $header;
    color: black !important;
    font-size: 16px !important;
    padding: 0 10px !important;
    font-variant: small-caps;
    font-weight: bold;
    }
    
nav ul li:hover{
       background-color: white !important;
       }
nav ul li a:hover{
       background-color: white !important;
    }

nav ul li a:active {
    color: $rose;
}
    
    
a {
    color: black;
    }
    
.row ul {
       margin-top: 5em;
    }
    
.bag {
       height: 23px;
       width: 18px;
       margin-top: 15px;
    }
    
.main {
       background-color: $grey;
       height: 600px;
       width: 85%;
       margin-top: 2em;
    }
    
.content {
       margin-top: 2em;
    }
.contentNav{
    padding-top:6em;
    }
.contentNav li {
       display: inline-block;
       font-family: $paragraph;
    }


// FOOTER

.foot-back-color {
    background-color: $footer !important;
}

footer {
    color: black !important;
    font-family: $paragraph;
    font-size: 12px;
    line-height: 200%;
    padding-top: 5em;
    padding-bottom: 3em;
}

footer h6 {
    font-variant: small-caps;
    font-family: $header;
}

.small {
    font-size: 10px;
}

footer li {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
