@import url('https://fonts.googleapis.com/css?family=Nunito|PT+Serif');


// STYLE GUIDE COLORS
$mint: #c0e8dd;
$pink: #f6d9ea;
$lavendar: #d2d5ea;
$rose: #d29fbb;
$primary-font: #191919;

// STYLE GUIDE FONTS
$header: 'PT Serif', serif;
$paragraph: 'Nunito', sans-serif;