@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');


// STYLE GUIDE COLORS
$mint: #c0e8dd;
$pink: #f6d9ea;
$footer: #FCF2F7;
$grey: #F3F3F5;
$lavendar: #d2d5ea;
$rose: #d29fbb;
$primary-font: #191919;

// STYLE GUIDE FONTS
// $header: 'Nunito', sans-serif;
// $paragraph: 'PT Serif', serif;



                                //////////////
                                //// HOME ////
                                //////////////

//////// MAIN CSS

body {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#follow-me-container {
    background-color: $grey;
}


h1 {
    color: white;
    font-size: 50px;
}

h2 {
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    // font-variant: small-caps;
}



////////// HEADER

.nav-wrapper {
    background-color: white !important;
    margin-top: 2em;
    padding-bottom: 2em;
    }
    
.deina{
    font-family: 'PT Serif', serif;
    font-size: 22px !important;
    color: black !important;
    text-decoration: none !important;
    }
    
nav ul li, a{
    font-family: 'Nunito', sans-serif;
    color: black !important;
    font-size: 16px !important;
    padding: 0 10px !important;
    font-variant: small-caps;
    // font-weight: bold;
    }
    
nav ul li:hover{
       background-color: white !important;
       }
nav ul li:hover{
       background-color: white !important;
    }

nav ul li:active {
    color: $rose;
}
    
    
a {
    color: black;
    }
    
.row ul {
       margin-top: 5em;
    }
    
.bag {
       height: 23px;
       width: 18px;
       margin-top: 15px;
    }
    
.main {
       background-color: $grey;
       height: 600px;
       width: 85%;
       margin-top: 2em;
    }
    
.content {
       margin-top: 2em;
    }
.contentNav{
    padding-top:6em;
    }
.contentNav li {
       display: inline-block;
       font-family: 'PT Serif', serif;
    }

.link {
    cursor: pointer;
}



////////// BANNER
.banner-language {
    z-index: 100;
}

.lang-left {
    position: absolute;
    font-family: 'PT Serif', serif;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.btm-left {
    position: absolute;
    font-family: 'PT Serif', serif;
    top: 70%;
    left: 20.5%;
    transform: translate(-50%, -50%);
}

button {
    font-family: 'PT Serif', serif !important;
    font-size: 18px;
    padding: 10px;
    font-variant: small-caps;
    border: none;
    background-color: white;
}




////////// CARDS

#show-cards {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
}

.row .col.s3 {
    width: 25%;
    margin-left: 0 !important;
    left: auto;
    right: auto;
}

.card-content {
    text-align: center;
    font-weight: bold;
}

.cookie {
    font-family: 'Nunito', sans-serif;
}

.cost {
    font-family: 'PT Serif', serif;
}

.row:after {
    // content: "";
    display: table;
    clear: both;
}

#all button {
    border: thin solid black;
    position: absolute;
    font-family: 'PT Serif', serif;
    top: 1400px;
    left: 50%;
    transform: translate(-50%, -50%);
}



////////// FOOTER

.foot-back-color {
    background-color: $footer !important;
}

footer {
    color: black !important;
    font-family: 'PT Serif', serif;
    font-size: 12px;
    line-height: 200%;
    padding-top: 5em;
    padding-bottom: 3em;
}

footer h6 {
    font-variant: small-caps;
    font-family: 'Nunito', sans-serif;
}

.small {
    font-size: 10px;
}

footer li {
    text-decoration: none;
    font-weight: bold;
    color: black;
}




                                ///////////////
                                //// ABOUT ////
                                ///////////////

////////// IMAGE

#about-main-container {
    background-color: $grey;
    text-align: center;
    padding-top: 5em;
    padding-bottom: 5em;
}

.about-me-img {
    border-radius: 50%;
    margin-left: 40%;
    margin-right: 60%;
}

////////// LANGUAGE

.about-container {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-family: 'PT Serif', serif;
    font-size: 13px;
    text-align: center;
}




                                //////////////
                                //// SHOP ////
                                //////////////

.grey-back {
    background-color: $grey;
    padding: 10em;
}

.grey-card {
    background-color: $grey;
}


// :HOVER WILL SHOW A NEW IMAGE WHEN HOVERING OVER AN IMAGE IN THE SHOP PAGE (THIS IS FOR THE LAST COOKIE: SEEDS
.seeds-image:hover {
    position: absolute;
    background: transparent url('../images/seeds-qv.jpg') no-repeat;
    z-index: 100;
    cursor: pointer;
    width: 100%;
  }

.overlay-seeds:hover {
    display: block;
    background-image: url('../images/seeds-qv.jpg');
    background-position: no-repeat;
    width: 100%;
    z-index: 1;
    cursor: pointer;
}